<p>Chào mừng bạn đã đến với Passdy Việt Nam!</p>
<p>Chúng mình rất vui khi có thêm một thành viên mới tham gia cộng đồng thời trang bền vững của Passdy.</p>
<p>Tài khoản của bạn đã được đăng ký thành công rồi đó. Click vào <a href="{{ url }}">link</a> để kích hoạt dịch vụ nhé!</p>
<p>Trong trường hợp gặp vấn đề không thể kích hoạt, hãy liên hệ với chúng mình qua tổng đài … hoặc nhắn tin qua fanpage: … để được hỗ trợ nhanh chóng nhất!</p>
<p>
  Thân gửi
</p>
<p>Passdy team</p>